
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.try(:email).split("@")[0] %>,</h4>
    <p>
      Thank you for contacting with us. We glad because you want to be part of 
      MAROPOST family.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>